header{
   background-color: rgba(79, 153, 223, 0.863);
   color:rgb(217, 221, 215);
   text-align: center;
}
main{
    background-color: rgba(94, 136, 214, 0.856);
    color: rgba(243, 243, 243, 0.541);
    text-align: center;
}
